label.completed {
    text-decoration: line-through;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px;

}
.counter{
    position: fixed;
    right: 820px;
    top: 2%;
    font-size: 30px;
    font-weight: bold;
}