form {
    display: flex;
    justify-content: center;
    align-items: center;

}
button {
    padding: 0.35em 1.2em;
    border: 0.1em solid lightskyblue;
    margin-top: 12px;
    border-radius: 5px;
    font-size: 15px;
    color: darkslategrey;
    text-align: center;
    transition: all 0.2s;

}

button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

input {
    padding: 5px;
}
label {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}