
nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.main-layout {
    display: flex;
    flex-direction: column;
}
.main-layout.layout__mode_dark {
    background: #10103A;
}

.header {
    height: 80px;
    background: lightskyblue;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 3;
}

.content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    padding: 10px 20px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

a {
    color: black;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
}

a:visited {
    color: midnightblue;
}

.avatar {
    border-radius: 50%;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

}

button {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-size: 16px;
    justify-content: center;
    line-height: 1em;
    padding: 9px 17px;
    text-decoration: none;
    cursor: pointer;
}

input {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
}
.mode {
    display: flex;
    align-items: center;
    gap: 5px;
}

