.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: flex-start;
}

.item {
    border: 1px solid #1c1817;
    padding: 10px;
    margin: 10px;
    width: 25%;
    font-size: 20px;
    text-align: center;
}

.users {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.posts {
    font-size: 18px;
    border: 1px solid #1e1d1d;
    margin: 5px;
    padding: 5px;

}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;

    margin: 10px;
}