.page {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-wrapper form {
    margin-bottom: 20px;
}

input {
    padding: 5px;
}

button {
    padding: 0.35em 1.2em;
    border: 0.1em solid lightskyblue;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: darkslategrey;
    text-align: center;
    transition: all 0.2s;

}

button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}